extends ./layout.pug
block contenido
	div.container
		div.col-md-8.remove-float.center-block.text-center.big-top-space
			h1 Bienvenido!
			a(href="/login" class="right-space") Iniciar Sesión
			a(href="/signup" class="right-space") Registro
