extends ./layout.pug
block contenido
  div.col-md-6.remove-float.center-block.mid-top-space
    form(action="/sessions" method="post")
      div(class="form-group")
        label(for="email") Email
        input(type="text" class="form-control" name="email" placeholder="Email" id="email")
      div(class="form-group")
        label(for="password") Contraseña
        input(type="password" class="form-control" name="password" placeholder="Password" id="Contraseña")
      div(class="row top-space")
        div(class="col-xs-12 col-sm-6")
          div(class="form-group")
            input(type="submit" value="Iniciar sesión" class="btn btn-info")
        div(class="col-xs-12 col-sm-6 text-right")
          a(href="/signup") No tengo cuenta