.right-space{
  margin-right: 1em;
}
.remove-float{
  float: none;
}
.top-space{
  margin-top: 1.5em;
}
.bottom-space{
  margin-bottom: 80px;
}
.mid-top-space{
  margin-top: 80px;
}
.big-top-space{
  margin-top: 200px;
}
.large-padding{
  padding: 10px 15px;
}
.black{
  background-color: #222;
}
.white-text{
  color: white;
}
.titulo-tabla{
  font-size: 1.5em;
  font-weight: bold;
}
.pregunta{
  font-size: 1.7em;
  font-weight: bold;
  background-color: navy;
  color: white;
  border-radius: 5px;
}
.highlight {
  background-color: yellow;
  visibility: hidden;
}
nav{
  text-align: right;
}
nav li{
  display: inline-block;
  margin-right: 1em;
  font-size: 1.1em;
}
nav li a{
  color: white;
}
nav li a:hover{
  color: white;
}

.white{
  background-color: white;
}
.border{
  border: solid 1px #eee;
}
.tr:nth-of-type(even){
  /* .tr:nth-of-type(even odd){ */
  background-color: #eee;
}
.tr:hover{
 background-color: #ee8;
 font-weight: bold;
}

form.link{
  display: inline-block;
}
form.link input[type="submit"]{
  background-color: transparent;
  border: none;
  color: rgb(200,50,50);
}
img{
  max-width: 100%;
}
.img-container{
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}
.img-container h1, .img-container h2{
    padding: 15px;
    border-bottom: 1px solid #222;
}
.img-container p{
  text-align: right;
  font-size: 1.2em;
  margin-top: 1em;
}
.chart-container{
  height: 300px; 
  width: 100%;
}

#fijo { 
    position:fixed;        
    font-size:10pt; 
    text-align: center; 
    padding: 8px 10px 8px 10px;    /* margen con valores: arriba - derecha - abajo - izquierda */  
    top: 53px;                    /* Distancia hasta el borde superior */ 
    right: 0px;            /* Distancia hasta el borde derecho */
    float: right;
    width: auto; 
    background-color: #6E4D4D;  
    color: white;
    z-index: 1;               /* hace que la capa sea opaca  */ 
    border:1px solid #AEAEAE;
}  