extends ../../layout.pug
block contenido
	div(class="container")
		h1 Mis Preguntas
		for pregunta in preguntas
			.white.border.tr.large-padding
				.row
					.col-md-10
						h2=pregunta.pregunta
					.col-md-2
						a(href="/app/preguntas/" + pregunta._id + "/edit" class="right-space") Editar
						form(action="/app/preguntas/" + pregunta._id + "?_method=DELETE" class="link" method="POST")
							input(type="submit" value="Eliminar")