extends ../../layout.pug
block contenido
  div.col-md-6.remove-float.center-block.mid-top-space.bottom-space
    h1 Agregar nueva pregunta
    form(action="/app/preguntas" method="post" enctype="multipart/form-data")
      div(class="form-group")
        label(for="pregunta") Pregunta
        input(type="text" class="form-control" name="pregunta" placeholder="Pregunta" id="pregunta")
      div(class="form-group")
        label(for="imagen") Imagen
        input(type="file" class="form-control" name="imagen" id="imagen")
      div(class="form-group")
        label(for="opcion1") Opción 1
        input(type="text" class="form-control" name="opcion1" placeholder="Opción 1" id="opcion1")
      div(class="form-group")
        label(for="opcion2") Opción 2
        input(type="text" class="form-control" name="opcion2" placeholder="Opción 2" id="opcion2")
      div(class="form-group")
        label(for="opcion3") Opción 3
        input(type="text" class="form-control" name="opcion3" placeholder="Opción 3" id="opcion3")
      div(class="form-group")
        label(for="opcion4") Opción 4
        input(type="text" class="form-control" name="opcion4" placeholder="Opción 4" id="opcion4")
      div(class="form-group")
        label(for="respuesta") Respuesta Correcta
        - var opciones = ['Opción 1', 'Opción 2', 'Opción 3', 'Opción 4'];
        select(class="form-control" id="respuesta" name="respuesta")
          each opcion, i in opciones
            option(value=i+1) #{opcion} 
      div(class="row top-space")
        div(class="col-xs-12 col-sm-6")
          div(class="form-group")
            input(type="submit" value="Guardar" class="btn btn-info")
        div(class="col-xs-12 col-sm-6 text-right")
          a(href="/app/preguntas/") Cancelar